project-panel {
    display: block;
    height: 100%;
    position: relative;
}

[mat-mini-fab] {
    position: absolute !important;
    top: 30px;
    right: 10px;
}

.bk-project-content2 {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
}

.bk-project-title {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: #d1d1d1;
}

.bk-project-title div {
    margin-left: 10px;
    background-color: #666666;
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: rgba(255,255,255,0.5) 0 2px 2px;
}

.bk-project-content {
    flex-grow: 1;
    width: 100%;
    overflow: scroll;
}

.bk-project-item {
    padding: 10px 15px;
    font-size: 1.2em;
    display: flex;
}

.bk-project-item:hover {
    background-color: #6a8dbb;
}

.bk-project-item-selected {
    background-color: rgba(81, 13, 191, 0.27) !important;
}

.bk-project-running {
    width: 24px;
    height: 24px;
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*margin:-60px 0 0 -60px;*/
    animation:spin 2s linear infinite;
}

@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }