project-config {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.bk-empty-projects {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.bk-text {
    font-size: 2em;
    margin-top: 30px;
    color: #8e8e8e;
}

.bk-projects {
    padding: 20px;
    width: 100%;
    height: 100%;
}

.bk-project-exclude {
    margin: 3px;
    background-color: #f6f6f6;
}

.bk-project-exclude mat-card-title {
    font-size: 1em;
}

.bk-pattern-item {
    padding: 5px;
    display: flex;
}

.bk-pattern-item:hover {
    background-color: #cacaee;
}

.bk-patter-item-selected {
    background-color: rgba(81, 13, 191, 0.27) !important;
}

.bk-pattern-item input {
    outline: 0;
    border-width: 0;
    background-color: transparent;
    cursor: text;
    width: 100%;
}

.bk-item-delete {
    width: 30px;
}