project-config {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.bk-empty-projects {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.bk-text {
    font-size: 2em;
    margin-top: 30px;
    color: #8e8e8e;
}

.bk-projects {
    display: flex;
    flex-flow: column nowrap;
    overflow-y: auto;
    width: 100%;
    height: 100%;
}

.bk-projects-container {
    padding: 20px;
}

.bk-project-name {
    width: 500px;
}

.bk-project-folder {
    display: flex;
}

.bk-project-folder .mat-form-field {
    flex-grow: 1;
    max-width: 700px;
}

.bk-project-folder-button {
    margin: 5px;
    height: 30px;
    align-self: center;
    min-width: 50px;
}

.bk-project-exclude.mat-card {
    position: initial;
    margin: 3px;
    background-color: #f6f6f6;
}

.bk-project-exclude mat-card-title {
    font-size: 1em;
}

.bk-pattern-item {
    padding: 5px;
    display: flex;
}

.bk-pattern-item:hover {
    background-color: #cacaee;
}

.bk-patter-item-selected {
    background-color: rgba(81, 13, 191, 0.27) !important;
}

.bk-pattern-item input {
    outline: 0;
    border-width: 0;
    background-color: transparent;
    cursor: text;
    width: 100%;
    font-size: 1.1em;
}

.bk-item-delete {
    min-width: 50px;
    height: 30px;
}

.bk-footer-buttons {
    margin-top: 20px;
}

mat-card-footer.mat-card-footer {
    margin: 0;
}