* {
    box-sizing: border-box;
    user-select: none;
    cursor: inherit;
    font-family: 'Roboto', 'Source Sans Pro', sans-serif;
}

html, body, app {
    height: 100%;
}

app {
    display: flex;
    flex-flow: column nowrap;
    cursor: default;
}

input {
    cursor: text;
}

.mat-form-field {
    margin: 10px 0;
}