<div class="bk-ribbon-content">
    <div class="bk-ribbon-group">
        <div class="bk-ribbon-group-top">
            <div class="bk-ribbon-vertical-button" (click)="newProject()">
                <div [inlineSVG]="'../images/ic_new_project.svg'"></div>
                <div>New<br/>
                    project</div>
            </div>
            <div class="bk-ribbon-vertical-button">
                <div [inlineSVG]="'../images/ic_prueba2.svg'"></div>
                <div>Prueba<br/>
                    dos</div>
            </div>
            <div class="bk-ribbon-vertical-button">
                <div [inlineSVG]="'../images/ic_prueba2.svg'"></div>
                <div>Prueba<br/>
                    tres</div>
            </div>
        </div>
        <div class="bk-ribbon-group-bottom">
            Main
        </div>
    </div>
    <div class="bk-ribbon-group">
        <div class="bk-ribbon-group-top">
            <div class="bk-ribbon-vertical-button">
                <div [inlineSVG]="'../images/ic_new_project.svg'"></div>
                <div>New<br/>
                    project</div>
            </div>
            <div class="bk-ribbon-vertical-button">
                <div [inlineSVG]="'../images/ic_prueba2.svg'"></div>
                <div>Prueba<br/>
                    dos</div>
            </div>
            <div class="bk-ribbon-vertical-button">
                <div [inlineSVG]="'../images/ic_prueba2.svg'"></div>
                <div>Prueba<br/>
                    tres</div>
            </div>
        </div>
        <div class="bk-ribbon-group-bottom">
            Main
        </div>
    </div>
</div>
<div class="bk-ribbon-shadow"></div>